/*-----Adam Demol 2022-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  --nav-offset: 10rem;
  --col1:#212327;
  --col2:#e32a42;
  --col3:#111;
  --col4:#eee;
  --col5:#369497;
  --col6:#f0bb2c;
}

/* remove default styles from everything */
* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  color: var(--text-primary);
  overflow-x: hidden;
}

a { text-decoration: none; }

h1 { 
  font-size:4rem; 
  padding-bottom: 5rem; 
  text-align: center; 
}
h2 { font-size:2rem; }
h3 { font-size:1.2rem; }

/*-----Navigation bar-----*/

.navbar {
  pointer-events:all;
  position: fixed;
  background: var(--col1);
  width: var(--nav-offset);
  height: 100vh;
  box-shadow: 0px 3px 8px #000;
  z-index: 999;
}

.nav-wrap { margin-top: 4rem; }

/* nav-link includes text and svg as one link */
.nav-link {
  font-size: 1.2rem;
  color: white;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-link:visited { color: white; }
.nav-link:hover { color: white; }

.nav-item:hover { 
  background-color: var(--col2);
}

/*-----Header section------*/

header {
  display: grid;
  margin-left: var(--nav-offset);
  min-height:100vh;
  background-image: url(../img/bg.webp); /*--https://unsplash.com/photos/LGZFr5bUw7M--*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h1 { 
  text-align: left; 
  padding: 0 0 10rem 0;
  width: 40vw;
  color: var(--col5);
}

.header-text-wrap {
  margin-top: 15vh;
  padding-inline: 5rem;
  font-size: 1.4rem;
}

.header-text { width: 32vw; }

.name-large { 
  font-size: 3rem;
  padding-inline: 10px;
  line-height: 1;
}

.content-wrap { margin-left: var(--nav-offset); }

.content-section {
  padding: 9rem 3rem;
  display: grid;
  place-content: center;
}

/*-----button styles-----*/

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  font-weight: normal;
  width: 150px;
  height: 50px;
  color: white;
  background: var(--col2);
  transition: all 200ms ease-in-out;
}

.button svg { transition: fill 200ms ease-in-out; }

.button:hover { 
  transform: scale(1.1);
  box-shadow: 3px 3px 15px 0 #999;
  background: var(--col1);
}

.header-btns-wrap {
  display: flex; 
  margin-top: 3rem; 
  gap: 2rem;
}

.header-btn {
  width: 180px;
  height: 60px;
}

.header-btn svg {
  width: 30px;
  height: 30px;
}

/*-----Projects section-----*/

.projects-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, auto)) ;
  gap: 4rem;
  max-width: 1700px;
  min-width: 250px;
}

.project-card {
  padding: 4rem;
  transition: all 700ms cubic-bezier(.45,1.5,.67,.85);
  transform: translateY(80%);
  opacity: 0;
  overflow: hidden;
  box-shadow: 5px 5px 17px 0 #ccc;
  background: var(--col1);
  color: var(--col4);
}

.project-card .button {
  background: var(--col5);
}

.project-card .button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 15px 0 #000;
  background: var(--col2);
}

.project-svg {
  position: absolute;
  width: 200px;
  height: 200px;
  color: rgba(255, 255, 255, 0.1);
  transform: rotate(-30deg);
  top: -20px;
  right: -20px;
}

.project-card .project-text {
  display: grid;
  gap: 1.5rem;
  width: 100%;
}

.project-card h2 { 
  line-height: 1.1;
  color: var(--col2); 
}

.project-btns-wrap {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.project-btns-wrap svg {
  width: 30px;
  height: 30px;
  fill: white;
}

/*-----Skills section-----*/

.skills {
  background: linear-gradient(90deg, var(--col5), var(--col2));
}

.icons-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.icons-wrap svg {
  width: 15vw;
  height: 15vw;
  max-width: 250px;
  max-height: 250px;
  fill: white;
}

.icons-wrap span {
  display: grid;
  justify-items: center;
  color: white;
  gap: 1rem;
}

/*-----Gallery section-----*/

.gallery-wrap { background: var(--bg-primary); }

.gallery {
  display: grid;
  margin: 0 auto;
  grid-template-columns:repeat(10, 1fr);
  grid-template-rows:repeat(20, 90px);
  gap: 1rem;
  width: 100%;
  max-width: 1700px;
}

.gallery-img {
  width: 100%;
  transition: 400ms ease-in-out;
  transform: scaleY(.01);
  opacity: 0;
}

.gallery-img img {
  height: 100%;
  box-shadow: 5px 5px 20px 0 #999;
}

.img1 img, .img5 img { float: right; }

.gallery-img.img1 {
  grid-row: 2 / span 4;
  grid-column: span 6;
}
.gallery-img.img2 {
  grid-row: 6 / span 5;
  grid-column: 3 / span 8;
}
.gallery-img.img3 {
  grid-row: 1 / span 5;
  grid-column: span 4;
}
.gallery-img.img4 {
  grid-row: 11 / span 4;
  grid-column: 5 / span 6;
}
.gallery-img.img5 {
  grid-row: 11 / span 3;
  grid-column: 1 / span 4;
}
.gallery-img.img6 {
  grid-row: 15 / span 5;
  grid-column: 3 / span 7;
}

/*-----Contact me section-----*/

.content-section.contact { 
  background: var(--col1); 
  text-align: center;
}

.contact {
  color: var(--col4);
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.icon {
  position: relative;
  width: 130px;
  height: 130px;
  display: grid;
  color:var(--col4);
  justify-content: center;
  align-items: center;
  transition: background 200ms ease-in-out;
}

.icon svg {
  width: 50px;
  height: 50px;
}

.icon span {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.fa-github::after, .fa-linkedin::after, .fa-windows::after {
  color: white;
  transition: opacity 300ms ease-in;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

.icon svg   { fill:#fff; }
.icon:hover { background-color: var(--col2); }

.fa-windows  { background-color: #00afef; }
.fa-linkedin { background-color: #0a66c2; }
.fa-github   { background-color: #111; }

.footer-text { margin-top: 5rem; }

/*-----Back to Top Button-----*/

.btt-bubble {
  background: white;
  position: fixed;
  width: 3rem; height: 3rem;
  right: 20px; 
  bottom: 20px;
  border-radius: 50%;
  padding: 2px;
  transform: rotate(180deg);
  z-index: 8888;
  transition: transform 200ms ease-in;
}

.btt-arrow {
  color: #111;
  text-align:center;
}

.btt-arrow:visited { color: var(--col1); }
.btt-arrow:hover { color: var(--col2) }
