/*-----Adam Demol 2022-----*/
@media screen and (max-width: 1350px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .gallery-img img {
    width: 100%;
    height: auto;
  }

  header h1 { 
    font-size: 3rem;
  }
}

@media only screen and (max-width: 899px){

  /* Accounts for navbar height when navigating to a section */
  html { scroll-padding-top: 50px; }

  h1 { font-size: 3rem; }

  header { 
    padding-top: 80px;
    margin-left: 0px; 
    text-align: center;
    background-image: unset;
    background: linear-gradient(0deg, white, #e3e3e3);
  }

  header h1 { 
    padding: 5rem 0;
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
  }

  .header-btn {
    position: relative;
    top: 3rem;
    right: unset;
  }

  .button {
    margin: 0 auto;
  }

  .header-text-wrap {
    padding-inline: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .header-text {
    width: 100%;
  }

  .view-work-text { 
    display: none;
  }

  .name-large { 
    font-size: 1.2rem; 
    font-weight: bold;
    padding: unset;
  }

  .sticky-wrapper {
    top: 80px;
    padding-top: 10px;
    height: unset;
  }

  .content-wrap {
    margin: 0;
  }

  .content-section {
    display: grid;
    padding: 0 1rem 5rem 1rem;
  }

  .project-card {
    display: grid;
    padding: 2rem;
    justify-items: center;
    text-align: center;
    transform: translateX(-60%);
  }

  .project-card .right {
    justify-items: center;
  }

  .project-card svg {
    width: 120px;
  }

  /*------------------------Navigation bar----------------------------*/

  .navbar {
    width: 100%;
    height: 80px;
  }

  .nav-wrap {
    display: flex;
    justify-content: center;
    margin-top: unset;
    list-style: none;
  }

  .nav-item { width: 20%; }
  .nav-link { position: unset; }
  .nav-link svg { width: 2.2rem; }
  .nav-link .resume { width: 1.8rem; }

  .link-text {
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: unset;
    transition: opacity 300ms ease;
  }

  .nav-link:hover .link-text {
    opacity: 1;
    left: 50%;
    border-top: 2px solid var(--theme-red);
  }

  .fa {
    width: 80px;
    height: 80px;
    padding: 25px;
  }

  .fa-text { opacity: 1; }
}

@media only screen and (max-width: 500px){
  .icon {
    width: 90px;
    height: 90px;
  }
}