/*-----Adam Demol 2022-----*/
@media screen and (max-width: 1350px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .gallery-img img {
    width: 100%;
    height: auto;
  }

  header h1 { 
    font-size: 3rem;
  }
}

@media only screen and (max-width: 799px){

  /* Accounts for navbar height when navigating to a section */
  html { scroll-padding-top: 50px; }

  h1 { font-size: 3rem; }

  header { 
    margin-left: 0px; 
    text-align: center;
    background-image: url(../img/mobile-bg2.webp);
    padding-bottom: 6rem;
  }

  header h1 { 
    padding: 3rem 0 0 0;
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
  }

  .header-btns-wrap {
    display: grid; 
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
  }

  .header-text-wrap {
    padding-inline: 2rem;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .header-text { 
    margin-block: 4rem;
    font-size: 1.2rem;
    width: 100%; 
  }

  .name-large { 
    font-size: 1.2rem; 
    font-weight: bold;
    padding: unset;
  }

  .sticky-wrapper {
    top: 80px;
    padding-top: 10px;
    height: unset;
  }

  .content-wrap {
    margin: 0;
  }

  .content-section {
    display: grid;
    padding: 6rem 1rem;
  }

  .projects-wrap {
    grid-template-columns: unset;
  }

  .project-card {
    display: grid;
    padding: 2rem;
    justify-items: center;
    text-align: center;
    transform: translateX(-60%);
  }

  .project-btns-wrap {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .project-svg {
    width: 150px;
    height: 150px;
  }

  .icons-wrap {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .icons-wrap svg {
    width: 20vw;
    height: 20vw;
  }

  /*------------------------Navigation bar----------------------------*/

  .navbar {
    width: 100%;
    height: 80px;
    top: 0%;
    position: sticky;
  }

  .nav-wrap {
    display: flex;
    justify-content: center;
    margin-top: unset;
    list-style: none;
  }

  .nav-item { width: 25%; }
  .nav-link { position: unset; font-size: 1rem; }

  .contact-links {
    gap: 1rem;
  }

  .fa {
    width: 80px;
    height: 80px;
    padding: 25px;
  }

  .fa-text { opacity: 1; }
}

@media only screen and (max-width: 500px){
  .icon {
    width: 70px;
    height: 70px;
  }

  .icon svg {
    width: 30px;
    height: 30px;
  }
}