* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --header-height: 150px;
  --theme-1: #f7c903;
  --theme-2: #222;
  --theme-3: #e7e7e7;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  background-color: #222;
  color: #ddd;
  height: var(--header-height);
}

.header-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
}

h1 {
  margin-bottom:2rem;
}

.current-page {
  background: white;
}

.login {
  display: grid;
  align-items: center;
  padding: 2rem;
}

.login a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  max-width: 120px;
  height: 35px;
  background-color: var(--theme-3);
  color: var(--theme-2);
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

.login a:hover {
  background-color: var(--theme-1);
}

.searchbar {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.searchbar input {
  width: 100%;
  min-width: 120px;
  max-width: 300px;
  height: 35px;
  padding-inline: 1rem;
}

.side-nav {
  z-index: 999999;
  position: sticky;
  top: 0; /* required for sticky pos */
  background-color: var(--theme-1);
}

.side-nav ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
}

.side-nav ul li {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
}

.side-nav ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  color: var(--theme-2);
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.side-nav ul li::before {
  transform: scaleY(0);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  transition: transform 250ms ease-in-out;
}

.side-nav ul li:hover::before {
  transform: scaleY(1);
} 

.logo {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 120px;
  height: 120px;
}

main {
  padding: 3rem;
}

.products, .wishlist-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  gap: 2rem;
}

.product-info {
  position: relative;
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  box-shadow: 3px 3px 15px 0 #ccc;
  border-radius: 10px;
}

.product-info img {
  object-fit: contain;
}

.price {
  color: red;
}

.price-old {
  text-decoration: line-through;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.wishlist-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
}

.wishlist-btn svg {
  pointer-events: none;
  background-color: white;
}

.wishlist-btn:hover svg {
  fill: var(--theme-1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
  background-color: var(--theme-2);
  color: white;
}

footer a:hover {
  color: var(--theme-1);	
}

.footer-heading {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.policies {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  flex-direction: column;
}

.policy {
  background: #eee;
  margin-bottom: 3rem;
  padding: 2rem;
}

.policy h2 {
  margin-bottom: 2rem;	
}

.contact-form {
	margin: 0 auto;
	max-width: 700px;
	padding: 2rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 3px 3px 15px 0 #ccc;
	border: 1px solid #bbb;
	border-radius: 10px;
}

.contact-form input {
	max-width: 300px;
	width:100%;
	min-width: 200px;
	box-shadow: inset 3px 3px 15px 0 #ccc;
	border: 1px solid #bbb;
	height: 30px;
}

.form-wrap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

